.bodyContainer {
}

.pictureElement{}

#mainPicture{
    width: 70%; 
}

.infoBox{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.info {
    width: 60%;
}
.picTitle{

}

.boldBody {
    font-size: 1.5rem;
}

